@import play.api.Configuration
@import uk.gov.hmrc.agentsexternalstubsfrontend.models._
@import uk.gov.hmrc.play.views.html.helpers.{form, input, dropdown, errorSummary, dateFieldsFreeInlineLegend, singleCheckbox}

@import play.api.libs.json.JsObject
@import uk.gov.hmrc.play.views.html.helpers.{form, input, dropdown, errorSummary, dateFieldsFreeInlineLegend, singleCheckbox, textArea}

@import uk.gov.hmrc.agentsexternalstubsfrontend.models.PageContext
@(recordForm: Form[JsObject], postUrl: Call, cancelUrl: Call, shakeUrl: Call, context: PageContext)(implicit request: Request[_], messages: Messages, config: Configuration)

@uk.gov.hmrc.agentsexternalstubsfrontend.views.html.main_template(title = Messages("records.title"), bodyClasses = Some("full-width")) {

    @navigationBar(context)

    <h1 class="heading-xlarge" style="margin-bottom: 0.5em;">@Messages("records.create.header")</h1>

    <div class="form-hint">
    @Messages("records.create.description")
    </div>

    <div style="margin-bottom: 0.5em; float: right;">
        <a style="display: inline-block; margin-top:0.5em;" href="@{shakeUrl.url}">@Messages("records.create.shake")</a>
    </div>

    <div>
        @form(action = postUrl, 'id -> "recordForm", 'novalidate -> "novalidate") {
            <fieldset>
                <div class="form-field-group">

                 @textArea(
                     recordForm("json"),
                     '_inputClass -> "textarea-large"
                 )

                </div>
                <div class="form-group" style="vertical-align: middle;">

                    <button class="button" type="submit" id="update">
                        @Messages("records.create.submit")
                    </button>

                    <a style="display: inline-block; margin-top:0.5em;" href="@{cancelUrl.url}">@Messages("records.create.cancel")</a>

                </div>
            </fieldset>

        }
    </div>

}