@import play.api.Configuration
@import uk.gov.hmrc.agentsexternalstubsfrontend.models._
@import uk.gov.hmrc.play.views.html.helpers.{form, input, dropdown, inputRadioGroup, errorSummary, dateFieldsFreeInlineLegend, singleCheckbox}

@(userForm:Form[User], postUrl: Call, cancelCall: Call, userId: String, currentUserId: String, hasContinue: Boolean)(implicit request: Request[_], messages: Messages, config: Configuration)

@uk.gov.hmrc.agentsexternalstubsfrontend.views.html.main_template(title = Messages("user.title"), bodyClasses = Some("full-width")) {

    <nav style="margin-bottom: 1em; text-align: right;">
        <a href="/agents-external-stubs/records">@Messages("records.link.all")</a> | <a href="/agents-external-stubs/user">@Messages("users.link.current")</a> | <a href="/agents-external-stubs/users">@Messages("users.link.all")</a> | <a href="/gg/sign-out">@Messages("common.sign-out")</a>
    </nav>

    <h1 class="heading-xlarge">@Messages("user.edit.header", userId)</h1>

    @if(userForm.hasErrors) {
        @errorSummary(Messages("error.summary.heading"), userForm, Seq.empty, None)
    }

    <p class="form-hint">
    @Messages("user.edit.description")
    </p>

    <div>
        @form(action = postUrl, 'id -> "userForm", 'novalidate -> "novalidate") {
            <fieldset>
                <div class="form-field-group">

                    <div class="form-group soft--ends">
                    @dropdown(
                        userForm("affinityGroup"),
                        AffinityGroup.values.map(i => (i,i)),
                        false,
                        '_label -> Html("""<span class="h2-heading">"""+ Messages("user.form.affinityGroup") + """</span>"""),
                        '_selectClass -> Html("""input--medium input--cleared""")
                    )
                    </div>

                    <div class="form-group">
                    @input(
                        userForm("name"),
                        '_label -> Messages("user.form.name"),
                        '_inputClass -> "input--medium input--cleared",
                        '_labelTextClass -> "h2-heading",
                        '_labelClass -> "soft--ends"
                    )
                    </div>

                    <div class="form-group">

                        <button class="button" type="submit" id="update">
                        @Messages(if(hasContinue) "user.edit.update_and_continue" else "user.edit.update")
                        </button>

                        <a class="button-secondary" href="@{cancelCall.url}">@Messages("user.edit.cancel")</a>

                    </div>

                    <div class="form-group soft--ends">
                        <span class="form-hint">
                            If the user is an Admin of its group, then you might not be able to change this without changing groupId as well.
                        </span>
                        @dropdown(
                            userForm("credentialRole"),
                            CredentialRole.values.map(i => (i, i)),
                            false,
                            '_label -> Html("""<span class="h2-heading soft--ends">""" + Messages("user.form.credentialRole") + """</span>"""),
                            '_selectClass -> Html("""input--medium input--cleared""")
                        )

                    </div>

                    <div class="form-group soft--ends">
                    @dropdown(
                        userForm("credentialStrength"),
                        CredStrength.values.map(i => (i,i)),
                        false,
                        '_label -> Html("""<span class="h2-heading soft--ends">"""+ Messages("user.form.credentialStrength") + """</span>"""),
                        '_selectClass -> Html("""input--medium input--cleared""")
                    )
                    </div>

                    <div class="form-group soft--ends">
                    @dropdown(
                        userForm("confidenceLevel"),
                        ConfidenceLevel.values,
                        false,
                        '_label -> Html("""<span class="h2-heading soft--ends">"""+ Messages("user.form.confidenceLevel") + """</span>"""),
                        '_selectClass -> Html("""input--medium input--cleared""")
                    )
                    </div>

                    <div class="form-group">
                        @input(
                            userForm("nino"),
                            '_label -> Messages("user.form.nino"),
                            '_inputClass -> "input--medium input--cleared",
                            '_labelTextClass -> "h2-heading",
                            '_labelClass -> "soft--ends"
                        )
                    </div>

                    <div class="form-group">
                        @input(
                            userForm("groupId"),
                            '_label -> Messages("user.form.groupIdentifier"),
                            '_inputClass -> "input--medium input--cleared",
                            '_labelTextClass -> "h2-heading",
                            '_labelClass -> "soft--ends"
                        )
                    </div>

                    <div class="form-group">
                        @dateFieldsFreeInlineLegend(userForm, "dateOfBirth",
                            '_legend -> Html("""<span class="h2-heading soft--ends">"""+ Messages("user.form.dateOfBirth")+ """</span>"""),
                            '_labelClass -> "soft--ends"
                        )
                    </div>

                    <div class="form-group">
                    @input(
                        userForm("agentCode"),
                        '_label -> Messages("user.form.agentCode"),
                        '_inputClass -> "input--medium input--cleared",
                        '_labelTextClass -> "h2-heading",
                        '_labelClass -> "soft--ends"
                    )
                    </div>

                    <div class="form-group">
                    @input(
                        userForm("agentFriendlyName"),
                        '_label -> Messages("user.form.agentFriendlyName"),
                        '_inputClass -> "input--medium input--cleared",
                        '_labelTextClass -> "h2-heading",
                        '_labelClass -> "soft--ends"
                    )
                    </div>

                </div>

                <div class="form-group">

                    <button class="button" type="submit" id="update">
                    @Messages(if(hasContinue) "user.edit.update_and_continue" else "user.edit.update")
                    </button>

                    <a class="button-secondary" href="@{cancelCall.url}">@Messages("user.edit.cancel")</a>

                </div>


                <h2>Principal enrolments</h2>

                <div id="principalEnrolments" class="form-group" style="text-align: right">
                    <table style="width:100%">
                        <tr>
                            <th>Service key</th>
                            <th>Identifier Name</th>
                            <th>Identifier Value</th>
                        </tr>
                        @List.range(0, 4).map { rowNum =>
                            <tr>
                                <td>
                                @input(
                                    userForm(s"principalEnrolments[$rowNum].key"),
                                    '_dataAttributes -> "style=width:100%;"
                                )
                                </td>
                                <td class="hook-@rowNum">
                                @input(
                                    userForm(s"principalEnrolments[$rowNum].identifiers[0].key"),
                                    '_dataAttributes -> "style=width:100%;"
                                )
                               <td>
                                @input(
                                    userForm(s"principalEnrolments[$rowNum].identifiers[0].value"),
                                    '_dataAttributes -> "style=width:100%;"
                                )
                                </td>
                            </tr>
                        }
                    </table>

                </div>

                <h2>Delegated enrolments</h2>

                <span class="form-hint">Only Agents can have delegated enrolments.</span>

                <div id="delegatedEnrolments" class="form-group" style="text-align: right">
                    <table style="width:100%">
                        <tr>
                            <th>Service key</th>
                            <th>Identifier Name</th>
                            <th>Identifier Value</th>
                        </tr>
                        @List.range(0, 4).map { rowNum =>
                            <tr>
                                <td>
                                    @input(
                                        userForm(s"delegatedEnrolments[$rowNum].key"),
                                        '_dataAttributes -> "style=width:100%;"
                                    )
                                </td>
                                <td class="hook-@rowNum">
                                @input(
                                    userForm(s"delegatedEnrolments[$rowNum].identifiers[0].key"),
                                    '_dataAttributes -> "style=width:100%;"
                                )
                                <td>
                                @input(
                                    userForm(s"delegatedEnrolments[$rowNum].identifiers[0].value"),
                                    '_dataAttributes -> "style=width:100%;"
                                )
                                </td>
                            </tr>
                        }
                    </table>

                </div>

                <h2>Specials</h2>

                <span class="form-hint">@Messages("user.form.isNonCompliant.hint")</span>

                <div class="form-group">
                @singleCheckbox(userForm("isNonCompliant"),
                    '_label -> Messages("user.form.isNonCompliant"),
                    '_inputClass -> "input--medium input--cleared",
                    '_labelTextClass -> "h2-heading",
                    '_labelClass -> "soft--ends"
                )
                </div>

                <span class="form-hint">@Messages("user.form.isPermanent.hint")</span>

                <div class="form-group">
                @singleCheckbox(userForm("isPermanent"),
                    '_label -> Messages("user.form.isPermanent"),
                    '_inputClass -> "input--medium input--cleared",
                    '_labelTextClass -> "h2-heading",
                    '_labelClass -> "soft--ends"
                )
                </div>

                <div class="form-group">

                    <button class="button" type="submit" id="update">
                    @Messages(if(hasContinue) "user.edit.update_and_continue" else "user.edit.update")
                    </button>

                    <a class="button-secondary" href="@{cancelCall.url}">@Messages("user.edit.cancel")</a>

                </div>


            </fieldset>

        }
    </div>

}