@import play.api.Configuration
@import uk.gov.hmrc.agentsexternalstubsfrontend.models._
@import uk.gov.hmrc.play.views.html.helpers.{form, input, dropdown, errorSummary, dateFieldsFreeInlineLegend, singleCheckbox}

@import play.api.libs.json.JsObject
@import uk.gov.hmrc.play.views.html.helpers.{form, input, dropdown, errorSummary, dateFieldsFreeInlineLegend, singleCheckbox, textArea}

@import uk.gov.hmrc.agentsexternalstubsfrontend.models.PageContext
@(context: PageContext)(implicit request: Request[_], messages: Messages, config: Configuration)

@if(context.menuItems.nonEmpty) {
    <nav style="margin-bottom: 1em;
        text-align: right;">
        <a href="@context.menuItems.head.call.url">@Messages(context.menuItems.head.messageKey)</a>
        @for(menuItem <- context.menuItems.tail) {
            | <a id="@menuItem.id" href="@menuItem.call.url">@Messages(menuItem.messageKey)</a>
        }
    </nav>
}
