@import play.api.Configuration
@import uk.gov.hmrc.agentsexternalstubsfrontend.models._
@import uk.gov.hmrc.play.views.html.helpers.{form, input, dropdown, inputRadioGroup}

@import uk.gov.hmrc.play.binders.ContinueUrl
@(users: Users, currentUserId: String, authToken: Option[String], showCurrentUserUrl: Call, planetId: String)(implicit request: Request[_], messages: Messages, config: Configuration)

@uk.gov.hmrc.agentsexternalstubsfrontend.views.html.main_template(title = Messages("users.title"), bodyClasses = Some("full-width"), sidebarLinks = None) {

    @navigationBar()

    <h1 class="heading-xlarge">@Messages("users.show.header", planetId)</h1>

    <div style="float: right; margin-bottom: 1em;position: relative; top:-3em;right: -3em;">
        <h3 class="cya-question">
        @Messages("users.link.create")
        </h3>
        <form action="/agents-external-stubs/sign-in">
            <div style="vertical-align: middle;">
                <label for="userId" style="font-size: 0.7em; color: gray;">Expected pattern [A-Za-z0-9-_]{6,64}</label>
                <input type="text" name="userId" pattern="[A-Za-z0-9-_]{6,64}" required>
                <button class="button">@Messages("user.show.create")</button>
            </div>
        </form>
    </div>

    <p>
    @Messages("users.show.description")
    </p>

    <table id="users" class="margin-bottom-30">
        <col style="width: 40%">
        <col style="width: 30%">
        <col style="width: 30%">
        <thead>
            <tr>
                <th scope="col">UserID</th>
                <th scope="col">Affinity Group</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        @users.users.sortBy(_.userId).map { user =>
                <tr>
                    <td>
                        <div>@user.userId</div>
                        <div style="font-size:70%;">group: @{user.groupId.getOrElse("none")}</div>
                    </td>
                    <td>
                        <span class="badge badge-@{user.affinityGroup.map(_.toLowerCase).getOrElse("none")}">@user.affinityGroup.getOrElse("none")</span>
                    </td>
                    <td>@if(user.userId==currentUserId){
                        <span class="form-hint">This is current user</span>
                        <div>
                            <a href="/agents-external-stubs/user?userId=@user.userId">View</a> |
                            <a href="/agents-external-stubs/user/edit?userId=@user.userId">Edit</a>
                        </div>
                    }else{
                        <div>
                            <a href="/agents-external-stubs/user?userId=@user.userId">View</a> |
                            <a href="/agents-external-stubs/user/edit?userId=@user.userId">Edit</a> |
                            <a href="/agents-external-stubs/user/remove?userId=@user.userId">Remove</a> |
                            <a href="/agents-external-stubs/sign-in?userId=@user.userId">Sign-in</a>
                        </div>
                    }</td>
                </tr>
        }
        </tbody>
    </table>

}