@import play.api.Configuration
@import uk.gov.hmrc.agentsexternalstubsfrontend.models._
@import uk.gov.hmrc.play.views.html.helpers.{form, input, dropdown, inputRadioGroup}

@import uk.gov.hmrc.play.binders.ContinueUrl
@(user:User, authToken: Option[String], editUrl: Call, continue: Option[ContinueUrl], userId: String, planetId: String)(implicit request: Request[_], messages: Messages, config: Configuration)

@sidebarLinks = {
  <div>
    <nav id="secondary-nav" role="navigation">
        <a href="/gg/sign-out">@Messages("common.sign-out")</a>
    </nav>
      <div>
          <h3 class="cya-question">
          @Messages("user.show.planetId")
          </h3>
          <div class="cya-answer" id="planetId">
          @planetId
          </div>
      </div>
    <div>
        <h3 class="cya-question">
        @Messages("user.show.authToken")
        </h3>
        <div class="cya-answer" id="authToken">
        @{authToken.getOrElse("none")}
        </div>
    </div>
  </div>
}

@showField[T](value: Option[T], name: String, id: String) = {
    @if(value.isDefined) {
        <div>
            <dt class="cya-question">
            @Messages(name)
            </dt>
            <dd class="cya-answer" id="@id">
            @{value.get.toString}
            </dd>
        </div>
    }
}

@uk.gov.hmrc.agentsexternalstubsfrontend.views.html.main_template(title = Messages("user.title"), bodyClasses = None, sidebarLinks = Some(sidebarLinks)) {

    <h1 class="heading-xlarge">@Messages("user.show.header", userId)</h1>

    <p>
    @Messages("user.show.description")
    </p>

    @if(user.isNonStandardUser.contains(true)){
        <p class="form-hint">@Messages("user.show.isNonStandardUser")</p>
    }

    <dl class="govuk-check-your-answers cya-questions-long margin-bottom-40">
        <div>
            <dt class="cya-question">
            @Messages("user.form.userId")
            </dt>
            <dd class="cya-answer" id="userId">
            @{user.userId}
            </dd>
        </div>
        <div>
            <dt class="cya-question">
                @Messages("user.form.affinityGroup")
            </dt>
            <dd class="cya-answer" id="affinityGroup">
                @{user.affinityGroup.getOrElse("none")}
            </dd>
        </div>
        <div>
            <dt class="cya-question">
            @Messages("user.form.name")
            </dt>
            <dd class="cya-answer" id="name">
            @{user.name.getOrElse("none")}
            </dd>
        </div>
        <div>
            <dt class="cya-question">
            @Messages("user.form.groupIdentifier")
            </dt>
            <dd class="cya-answer" id="groupIdentifier">
            @{user.groupId.getOrElse("none")}
            </dd>
        </div>

        @showField(user.credentialRole,"user.form.credentialRole","credentialRole")

        @showField(user.credentialStrength,"user.form.credentialStrength","credentialStrength")

        @showField(user.confidenceLevel,"user.form.confidenceLevel","confidenceLevel")

        @showField(user.nino,"user.form.nino","nino")

        @showField(user.dateOfBirth,"user.form.dateOfBirth","dateOfBirth")

        @showField(user.agentCode,"user.form.agentCode","agentCode")

        @showField(user.agentFriendlyName,"user.form.agentFriendlyName","agentFriendlyName")

    </dl>

    <h3>Principal enrolments</h3>

    @if(user.principalEnrolments.nonEmpty){
        <table style="width:100%">
            <tr>
                <th>Service key</th>
                <th>Identifier Name</th>
                <th>Identifier Value</th>
            </tr>
            @for(e <- user.principalEnrolments){
              <tr>
                <td>
                  @{e.key}
                </td>
                  @if(e.identifiers.nonEmpty){
                    @for(i <- e.identifiers.get) {
                        <td>
                        @{i.key}
                        </td>
                        <td>
                        @{i.value}
                        </td>
                    }
                  } else {
                    <td colspan="2"></td>
                  }
              </tr>
            }
        </table>
      } else {
        <span class="form-hint">This @{user.affinityGroup.map(_.toLowerCase).getOrElse("user")} has not been enrolled yet.</span>
    }

    @if(user.affinityGroup.contains("Agent")) {

        <h3>Delegated enrolments</h3>

        @if(user.delegatedEnrolments.nonEmpty) {
            <table style="width:100%">
                <tr>
                    <th>Service key</th>
                    <th>Identifier Name</th>
                    <th>Identifier Value</th>
                </tr>
                @for(e <- user.delegatedEnrolments){
                    <tr>
                        <td>
                        @{e.key}
                        </td>
                        @if(e.identifiers.nonEmpty){
                            @for(i <- e.identifiers.get) {
                                <td>
                                @{i.key}
                                </td>
                                <td>
                                @{i.value}
                                </td>
                            }
                        } else {
                            <td colspan="2"></td>
                        }
                    </tr>
                }
            </table>
        } else {
            <span class="form-hint">This Agent has no delegated enrolments.</span>
        }
    }

    <div style="margin-top: 40px;">

        <a role="button" href="@editUrl.url">
            <button class="button button--spaced button--padded" id="update">
            @Messages("user.show.edit")
            </button>
        </a>

        @if(continue.isDefined) {
            <a href="@{continue.get.url}">
                @Messages("user.show.continue")
            </a>
        }
    </div>

}