@import play.api.Configuration
@import uk.gov.hmrc.agentsexternalstubsfrontend.models._
@import uk.gov.hmrc.play.views.html.helpers.{form, input, dropdown, inputRadioGroup}

@import uk.gov.hmrc.play.binders.ContinueUrl
@(users: Users, currentUserId: String, authToken: Option[String], showCurrentUserUrl: Call, planetId: String)(implicit request: Request[_], messages: Messages, config: Configuration)

@sidebarLinks = {
  <div>
    <nav id="secondary-nav" role="navigation">
        <a href="/gg/sign-out">@Messages("common.sign-out")</a>
    </nav>
      <div>
          <h3 class="cya-question">
          @Messages("user.show.planetId")
          </h3>
          <div class="cya-answer" id="planetId">
          @planetId
          </div>
      </div>
    <div>
        <h3 class="cya-question">
        @Messages("user.show.authToken")
        </h3>
        <div class="cya-answer" id="authToken">
        @{authToken.getOrElse("none")}
        </div>
    </div>
  </div>
}

@uk.gov.hmrc.agentsexternalstubsfrontend.views.html.main_template(title = Messages("users.title"), bodyClasses = None, sidebarLinks = Some(sidebarLinks)) {

    <h1 class="heading-xlarge">@Messages("users.show.header", planetId)</h1>

    <p>
        @Messages("users.show.description")
    </p>

    <table id="users" class="margin-bottom-30">
        <caption id="tableSubHeader" class="normal-text">Manage your test users</caption>
        <col style="width: 40%">
        <col style="width: 30%">
        <col style="width: 30%">
        <thead>
            <tr>
                <th scope="col">UserID</th>
                <th scope="col">Affinity Group</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        @users.users.sortBy(_.userId).map { user =>
                <tr>
                    <td>
                        <div>@user.userId</div>
                        <div style="font-size:70%;">group: @{user.groupId.getOrElse("none")}</div>
                    </td>
                    <td>@user.affinityGroup.getOrElse("none")</td>
                    <td>@if(user.userId==currentUserId){
                        <span class="form-hint">This is current user</span>
                        <div>
                            <a href="/agents-external-stubs/user?userId=@user.userId">View</a> |
                            <a href="/agents-external-stubs/user/edit?userId=@user.userId">Edit</a>
                        </div>
                    }else{
                        <div>
                            <a href="/agents-external-stubs/user?userId=@user.userId">View</a> |
                            <a href="/agents-external-stubs/user/edit?userId=@user.userId">Edit</a> |
                            <a href="/agents-external-stubs/user/remove?userId=@user.userId">Remove</a>
                        </div>
                    }</td>
                </tr>
        }
        </tbody>
    </table>

}