@import play.api.Configuration
@import uk.gov.hmrc.agentsexternalstubsfrontend.models._
@import uk.gov.hmrc.play.views.html.helpers.{form, input, dropdown, inputRadioGroup}

@import uk.gov.hmrc.play.binders.ContinueUrl
@import uk.gov.hmrc.agentsexternalstubsfrontend.models.PageContext
@(user:User, authToken: Option[String], sessionId: Option[String], editUrl: Call, continue: Option[ContinueUrl], userId: String,services: Seq[String], context: PageContext)(implicit request: Request[_], messages: Messages, config: Configuration)

@sidebarLinks = {
    <nav id="secondary-nav" role="navigation">
        <a href="/agents-external-stubs/gg/sign-out">@Messages("common.sign-out")</a>
    </nav>
    <div>
        <h3 class="cya-question">
        @Messages("user.show.planetId")
        </h3>
        <div class="cya-answer" id="planetId">
            <div style="overflow-wrap: break-word;">
            @context.planetId
            </div>
        </div>
    </div>
    <div>
    @if(userId!=context.authorisedUserId){
        <h3 class="cya-question">
            Authenticated user
        </h3>
        <div class="cya-answer">
            <a id="link_users_current" href="/agents-external-stubs/user">@context.authorisedUserId</a>
        </div>
    }
    </div>
    <div>
        <h3 class="cya-question">
        @Messages("user.show.authToken")
        </h3>
        <div class="cya-answer" id="authToken" style="overflow-wrap: break-word;">
        @{authToken.getOrElse("none")}
        </div>
    </div>
      <div>
          <h3 class="cya-question">
          @Messages("user.show.sessionId")
          </h3>
          <div class="cya-answer" id="sessionId">
          @{sessionId.getOrElse("none")}
          </div>
      </div>
      <div style="font-size: 0.75em; font-family: monospace; overflow-wrap: normal; padding: 1em 0; color: gray;overflow-wrap: break-word;">
          curl -v -H 'Authorization: @{authToken.getOrElse("")}' -H 'X-Session-ID: @{sessionId.getOrElse("")}'
      </div>
      <div style="padding-top: 0.7em;">
          <a id="link_users_all" href="/agents-external-stubs/users">@Messages("users.link.all")</a>
      </div>
      <div style="padding-top: 1em;">
          <a id="link_records_all" href="/agents-external-stubs/records">@Messages("records.link.all") (DES)</a>
      </div>
    <div style="padding-top: 1em;">
        <a id="link_special_cases" href="/agents-external-stubs/special-cases">@Messages("specialCase.link.all")</a>
    </div>
      <h3 class="cya-question">
          @Messages("users.link.create")
      </h3>
      <div class="cya-answer">
          <form action="/agents-external-stubs/user/create">
              <div style="vertical-align: middle;">
                <label for="userId" style="font-size: 0.7em; color: gray;">Expected ID pattern [A-Za-z0-9-_]{3,64}</label>
                <input type="text" name="userId" pattern="[A-Za-z0-9-_]{3,64}" required>
                <button class="button">@Messages("user.show.create")</button>
              </div>
          </form>
      </div>
      @if(context.features.mayShowRestQuery(context.planetId)) {
          <div style="padding-top: 1em;">
              <a id="link_rest_query" href="/agents-external-stubs/rest-query">@Messages("rest.query.link", (if(Set('a', 'e', 'o', 'u', 'y').contains(context.authorisedUserId.head.toLower)) "an " else "a ") + context.authorisedUserId)</a>
          </div>
      }
      @if(context.features.showEnrolments) {
          <div style="padding-top: 1em;">
              <a id="link_help_enrolments" href="/agents-external-stubs/services">@Messages("services.link.guide")</a>
          </div>
      }
      <div style="padding-top: 1em;">
          <form id="destroyPlanet" name="destroyPlanet" action="/agents-external-stubs/planet/destroy">
              <a id="link_planet_destroy" style="text-decoration: underline; cursor: pointer;" onclick="if(confirm('Please confirm you wish to destroy current planet and lost the associated data?')){document.forms.namedItem('destroyPlanet').submit()};">
                @Messages("planet.link.destroy")
              </a>
          </form>
      </div>
 
}

@showField[T](value: Option[T], name: String, id: String) = {
    @if(value.isDefined) {
        <div>
            <dt class="cya-question">
            @Messages(name)
            </dt>
            <dd class="cya-answer" id="@id">
            @{value.get.toString}
            </dd>
        </div>
    }
}

@uk.gov.hmrc.agentsexternalstubsfrontend.views.html.main_template(title = Messages("user.title", user.userId), bodyClasses = None, sidebarLinks = Some(sidebarLinks)) {

    <h1 class="heading-xlarge">
    @if(userId==context.authorisedUserId){ @Messages("user.current.show.header", userId) }else{ @Messages("user.show.header", userId) }
    </h1>

    <p>
    @if(userId==context.authorisedUserId){ @Messages("user.current.show.description") } else { @Messages("user.show.description") }
    </p>

    @if(user.isPermanent.contains(true)){
        <p class="form-hint">
        @Messages("user.show.isPermanent")
        </p>
    }
    @if(user.isNonCompliant.contains(true)){
        <div class="form-group">
            <details role="group">
                <summary role="button" aria-controls="details-content-0" aria-expanded="false">
                    <span class="summary">@Messages("user.show.isNonCompliant")</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                    @for(issue <- user.complianceIssues){
                        <li>@issue</li>
                    }
                </div>
            </details>
        </div>
    }

    <dl class="govuk-check-your-answers cya-questions-long margin-bottom-40">
        <div>
            <dt class="cya-question">
            @Messages("user.form.userId")
            </dt>
            <dd class="cya-answer" id="userId">
            @{user.userId}
            </dd>
        </div>
        <div>
            <dt class="cya-question">
                @Messages("user.form.affinityGroup")
            </dt>
            <dd class="cya-answer" id="affinityGroup">
                <span class="badge badge-@{user.affinityGroup.map(_.toLowerCase).getOrElse("none")}">@{user.affinityGroup.getOrElse("none")}</span>
            </dd>
        </div>
        <div>
            <dt class="cya-question">
            @Messages("user.form.name")
            </dt>
            <dd class="cya-answer" id="name">
            @{user.name.getOrElse("none")}
            </dd>
        </div>
        <div>
            <dt class="cya-question">
            @Messages("user.form.groupIdentifier")
            </dt>
            <dd class="cya-answer" id="groupIdentifier">
            @{user.groupId.getOrElse("none")}
            </dd>
        </div>

        @showField(user.credentialRole,"user.form.credentialRole","credentialRole")

        @showField(user.credentialStrength,"user.form.credentialStrength","credentialStrength")

        @showField(user.confidenceLevel,"user.form.confidenceLevel","confidenceLevel")

        @showField(user.nino,"user.form.nino","nino")

        @showField(user.dateOfBirth,"user.form.dateOfBirth","dateOfBirth")

        @showField(user.agentCode,"user.form.agentCode","agentCode")

        @showField(user.agentFriendlyName,"user.form.agentFriendlyName","agentFriendlyName")

        @if(user.address.isDefined) {
            <div>
                <dt class="cya-question">
                @Messages("user.form.address")
                </dt>
                <dd class="cya-answer" id="address">
                @if(user.address.get.line1.isDefined){
                    <div id="address.line1">
                    @{user.address.get.line1.get}
                    </div>
                }
                @if(user.address.get.line2.isDefined){
                    <div id="address.line2">
                        @{user.address.get.line2.get}
                    </div>
                }
                @if(user.address.get.line3.isDefined){
                    <div id="address.line3">
                    @{user.address.get.line3.get}
                    </div>
                }
                @if(user.address.get.line4.isDefined){
                    <div id="address.line4">
                    @{user.address.get.line4.get}
                    </div>
                }
                @if(user.address.get.postcode.isDefined){
                    <div id="address.postcode">
                    @{user.address.get.postcode.get}
                    </div>
                }
                @if(user.address.get.countryCode.isDefined && user.address.get.countryCode.get!="GB"){
                    <div id="address.countryCode">
                    @{Country.byCode.get(user.address.get.countryCode.get).map(_.name).getOrElse("none")}
                    </div>
                }
                </dd>
            </div>
        }

    </dl>

    <div style="margin:2em 0;">

        <a role="button" href="@editUrl.url">
            <button class="button" id="update">
            @Messages("user.show.edit")
            </button>
        </a>

        @if(continue.isDefined) {
            <a href="@{continue.get.url}">
            @Messages("user.show.continue")
            </a>
        }
        @if(userId!=context.authorisedUserId) {
            <a class="button-secondary" href="/agents-external-stubs/user/remove?userId=@user.userId">Remove</a> |
            <a class="button-secondary" href="/agents-external-stubs/sign-in?userId=@user.userId&providerType=@user.defaultProviderType">Sign-in</a>
        }

    </div>

    @if(user.affinityGroup.nonEmpty) {
        <h3>Principal enrolments</h3>

        @if(user.principalEnrolments.nonEmpty && user.principalEnrolments.get.nonEmpty) {
            <table style="width: 100%">
                <tr>
                    <th style="color: gray;">Service key</th>
                    <th style="color: gray;">Identifier Name</th>
                    <th style="color: gray;">Identifier Value</th>
                </tr>
                @for(e <- user.principalEnrolments.get) {
                    @if(e.identifiers.nonEmpty) {
                        @for((i, j) <- e.identifiers.get.zipWithIndex) {
                            <tr>
                                @if(j == 0) {
                                    <td rowspan="@{
                                        e.identifiers.get.size
                                    }">
                                    @if(context.features.showEnrolments) {
                                        <a href="/agents-external-stubs/services#@e.key">
                                        @e.key
                                        </a>
                                    } else {
                                        @e.key
                                    }
                                    </td>
                                }
                            <td>
                            @i.key
                            </td>
                            <td>
                                <a href="/agents-external-stubs/known-facts@{
                                    e.toEnrolmentKey.map(ek => "?enrolmentKey=" + ek.tag).getOrElse("")
                                }">
                                @i.value
                                </a>
                            </td>
                            </tr>
                        }
                    } else {
                        <tr><td colspan="3">
                        @if(context.features.showEnrolments) {
                            <a href="/agents-external-stubs/services#@e.key">
                            @e.key
                            </a>
                        } else {
                            @e.key
                        }
                        </td></tr>
                    }
                }
            </table>
        } else {
            <span class="form-hint">This @{
                user.affinityGroup.map(_.toLowerCase).getOrElse("user")
            } has not been enrolled yet.</span>
        }
        @addEnrolment(services, user)
    }

    @if(user.affinityGroup.contains("Agent")) {

        <h3>Delegated enrolments</h3>

        @if(user.delegatedEnrolments.nonEmpty && user.delegatedEnrolments.get.nonEmpty) {
            <table style="width:100%">
                <tr>
                    <th style="color:gray;">Service key</th>
                    <th style="color:gray;">Identifier Name</th>
                    <th style="color:gray;">Identifier Value</th>
                </tr>
                @for(e <- user.delegatedEnrolments.get){
                    @if(e.identifiers.nonEmpty){
                        @for((i,j) <- e.identifiers.get.zipWithIndex) {
                            <tr>
                                @if(j==0) {
                                    <td rowspan="@{e.identifiers.get.size}">
                                        @if(context.features.showEnrolments) {
                                            <a href="/agents-external-stubs/services#@e.key">
                                            @e.key
                                            </a>
                                        } else {
                                            @e.key
                                        }
                                    </td>
                                }
                            <td>
                                @i.key
                            </td>
                            <td>
                                <a href="/agents-external-stubs/known-facts@{e.toEnrolmentKey.map(ek => "?enrolmentKey=" + ek.tag).getOrElse("")}">
                                @i.value
                                </a>
                            </td>
                            </tr>
                        }
                    } else {
                        <tr><td colspan="3">
                            @if(context.features.showEnrolments) {
                                <a href="/agents-external-stubs/services#@e.key">
                                @e.key
                                </a>
                            } else {
                                @e.key
                            }
                        </td></tr>
                    }
                }
            </table>
        } else {
            <span class="form-hint">This agent has no delegated enrolments.</span>
        }
      <div style="margin-top: 0.5em;width: 100%;text-align: right;">
          <a href="/agents-external-stubs/user/edit?userId=@user.userId#delegated">Add delegated enrolment</a>
      </div>
    }

    @if(user.affinityGroup.isEmpty && user.strideRoles.nonEmpty) {
      <span class="form-hint">This user is an internal HMRC staff eligible for STRIDE authentication.</span>
      <dl class="govuk-check-your-answers cya-questions-long margin-bottom-40">
        <div>
            <dt class="cya-question">
            @Messages("user.show.strideRoles")
            </dt>
            <dd class="cya-answer" id="strideRoles">
            @{user.strideRoles.mkString(", ")}
            </dd>
        </div>
      </dl>
    }

    @if(user.affinityGroup.nonEmpty || (user.affinityGroup.isEmpty && user.strideRoles.nonEmpty)) {
        <div style="margin: 2em 0;">

            <a role="button" href="@editUrl.url">
                <button class="button" id="update">
                @Messages("user.show.edit")
                </button>
            </a>

            @if(continue.isDefined) {
                <a href="@{
                    continue.get.url
                }">
                @Messages("user.show.continue")
                </a>
            }
            @if(userId != context.authorisedUserId) {
                <a class="button-secondary" href="/agents-external-stubs/user/remove?userId=@user.userId">Remove</a> |
                <a class="button-secondary" href="/agents-external-stubs/sign-in?userId=@user.userId&providerType=@user.defaultProviderType">Sign-in</a>
            }

        </div>
    }

    @if(user.recordIds.nonEmpty && user.recordIds.get.nonEmpty) {

        <h3>Associated master records (DES)</h3>

        @for(recordId <-  user.recordIds.get){
          <li><a class="button-secondary" href="/agents-external-stubs/records?showId=@recordId">@recordId</a></li>
        }
    }

}

@addEnrolment(services: Seq[String], user: User) = {
    @if(services.nonEmpty) {
        <div style="margin-top: 0.5em;width: 100%;text-align: right;">
            <form id="add_enrolment" action="/agents-external-stubs/user/amend">
                <select id="principalEnrolment" name="principalEnrolment" class="">
                @for(service <- services) {
                    <option id="enrolment-@service" value="@service">@service</option>
                }
                </select>
                <input type="hidden" name="userId" value="@user.userId"/>
                <a style="text-decoration: underline;margin-left: 0.5em; cursor: pointer;" onclick="document.getElementById('add_enrolment').submit()">Add enrolment</a>
            </form>
        </div>
    }
}
