@import play.api.Configuration
@import uk.gov.hmrc.play.views.html.helpers.form

@(loginForm:Form[uk.gov.hmrc.agentsexternalstubsfrontend.controllers.SignInController.SignInRequest], postUrl: Call)(implicit request: Request[_], messages: Messages, config: Configuration)

@uk.gov.hmrc.agentsexternalstubsfrontend.views.html.main_template(title = Messages("login.title"), bodyClasses = None) {

    <h1 class="heading-xlarge">@Messages("login.sa.header")</h1>

    <p>
    @Html(Messages("login.sa.description"))
    </p>

    <div>

        @form(action = postUrl, 'id -> "loginForm", 'novalidate -> "novalidate") {
            <fieldset>
                <div class="form-field-group @if(loginForm.hasErrors) {form-field-group--error}">
                    @loginForm.errors("userId").map { error =>
                        <span class="error-notification username">Invalid Username: @Messages(error.message)</span>
                    }
                    @loginForm.errors("planetId").map { error =>
                        <span class="error-notification password">Invalid Planet: @Messages(error.message)</span>
                    }
                    @loginForm.globalErrors.map { error =>
                        <span class="error-notification password">@Messages(error.message)</span>
                    }
                    <div class="form-field">
                        <label class="label--inline" for="userId">@Html(Messages("login.username"))</label>
                        <input type="text" id="userId" name="userId" required placeholder="@Messages("login.username.placeholder") [A-Za-z0-9-_]{6,64}" pattern="[A-Za-z0-9-_]{6,64}" />
                    </div>

                    <div class="form-field">
                        <label class="label--inline" for="password">@Messages("login.password")</label>
                        <input type="password" id="password" name="password" placeholder="Not required for tests"/>
                    </div>

                    <div class="form-field">
                        <div class="form-hint">@Messages("login.planetId.hint")</div>
                        <label class="label--inline" for="planetId">@Messages("login.planetId")</label>
                        <input type="text" id="planetId" name="planetId" required placeholder="@Messages("login.planetId.placeholder")" />
                    </div>

                    <div class="form-field">
                        <button class="button" type="submit" id="signIn">@Messages("login.submit")</button>
                    </div>
                </div>
            </fieldset>
        }

        <h2>@Messages("login.sa.problems.header")</h2>
        <ul>
            <li><a id="verify-user" href="/booo" target="_self" data-sso="false">Trying to file Self Assessment using GOV.UK Verify?</a></li>
            <li><a id="registration" href="/booo" target="_self" data-sso="false" data-journey-click="sos_gg_login:gg_login_end:exit_create_new_gg_account">Don’t have a Government Gateway account</a></li>
            <li><a id="forgotten-user-id" href="/booo" target="_self" data-sso="false" data-journey-click="sos_gg_login:gg_login_end:forgotten_user_id">Forgotten user ID</a></li>
            <li><a id="forgotten-password" href="/booo" target="_self" data-sso="false" data-journey-click="sos_gg_login:gg_login_end:forgotten_password">Forgotten password</a></li>
            <li><a id="forgotten-user-id-and-password" href="/booo" target="_self" data-sso="false" data-journey-click="sos_gg_login:gg_login_end:forgotten_user_id_and_password">Forgotten user ID and password</a></li>
        </ul>
    </div>

    <p id="c2c">
        <a href="https://online.hmrc.gov.uk/webchat/assistant/bot/Ruth" id="webchatlink" target="_blank" rel="external">Get help from HMRC’s automated assistant <span class="visuallyhidden">These links will open in a new window.</span></a>
    </p>

}