.textarea-large {
  width: 100%;
  height: 500px;
  font-size: 0.9em;
  font-family: monospace;
}

#top-nav-bar, div.test-user-action {
  display: flex;
  justify-content: space-evenly;

  a {
    border-right: 2px solid gray;
    text-align: center;
    margin: 0;
    flex: auto;
  }

  a:last-of-type {
    border: none;
  }
}

div.test-user-action {
  white-space: nowrap;

  a, span {
    padding: 5px;
    border: none;
  }

  span.current-user {
    font-weight: bold;
  }
}
